body {
  font-family: 'Roboto', sans-serif;
  color: rgba(33, 33, 33, 100%);
  background-color: rgba(255, 255, 255, 100%);
  position: relative;
  width: 1600px;
  height: 2349px;
}

.web-studio-link-header {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  position: absolute;
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
}

.nav-header-main {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-header-agencja {
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
}

.nav-header-portfolio {
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;
}

.nav-header-kontakt {
  width: 51px;
  height: 16px;
  left: 656px;
  top: 32px;
}

.nav-header-mail {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}

.nav-header-tel {
  width: 120px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

.nav-header-main,
.nav-links a,
.nav-header-mail,
.nav-header-tel {
  position: absolute;
}

.nav-links a,
.nav-header-mail,
.nav-header-tel {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-links {
  list-style-type: none;
}

.nav-links a {
  color: inherit;
}

.nav-header-mail,
.nav-header-tel {
  color: rgba(117, 117, 117, 100%);
}

.nav-links a:hover,
.nav-links a:focus,
.nav-header-mail:hover,
.nav-header-mail:focus,
.nav-header-tel:hover,
.nav-header-tel:focus {
  color: rgba(33, 150, 243, 100%);
}

.blue-text {
  color: rgba(33, 150, 243, 100%);
}

.black-text {
  color: rgba(0, 0, 0, 100%);
}

.white-text {
  color: rgba(255, 255, 255, 100%);
}

.effective-solutions {
  background-color: rgba(47, 48, 58, 100%);
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 1px;
  top: 80px;
  right: 1px;
  bottom: 1669px;
}

.effective-solutions-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 451px;
  top: 200px;
  bottom: 280px;
  right: 453px;

  color: rgba(255, 255, 255, 100%);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-service-button {
  color: rgba(0, 0, 0, 100%);
  background-color: rgba(245, 244, 250, 100%);

  position: absolute;
  width: 200px;
  height: 50px;
  left: 699px;
  top: 350px;
  bottom: 200px;
  right: 701px;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.order-service-button:hover,
.order-service-button:focus {
  color: rgba(255, 255, 255, 100%);
  background-color: rgba(33, 150, 243, 100%);
  cursor: pointer;
}

.our-attributes {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.our-attributes-list {
  list-style-type: none;
}

.lorem-ipsum-title {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.lorem-ipsum-content {
  color: rgba(117, 117, 117, 100%);
  line-height: 24px;
}

.lorem-ipsum-title,
.lorem-ipsum-content {
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.what-do-we-do-title,
.our-team-title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-do-we-do-title {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.our-team-worker-title {
  font-weight: 500;
}

.our-team-worker-position {
  color: rgba(117, 117, 117, 100%);
}

.our-team-worker-title,
.our-team-worker-position {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-title {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.our-attributes-list,
.what-do-we-do-list,
.our-team-list,
.portfolio-list {
  list-style-type: none;
}

.footer-main {
  background-color: rgba(47, 48, 58, 100%);

  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}

.footer-address-list {
  position: absolute;
  width: 246px;
  height: 81px;
  left: 215px;
  top: 111px;

  list-style-type: none;
}

.web-studio-link-footer {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}

.footer-address-city,
.footer-address-mail,
.footer-address-tel {
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-address-city:hover,
.footer-address-city:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
  color: rgba(255, 255, 255, 100%);
}

.filter-button {
  color: rgba(0, 0, 0, 100%);
  background-color: rgba(245, 244, 250, 100%);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: rgba(255, 255, 255, 100%);
  background-color: rgba(33, 150, 243, 100%);
  cursor: pointer;
}

.portfolio-content-title,
.portfolio-content-description {
  font-family: inherit;
}

.portfolio-content-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-content-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
